.Filter {
  /* background: linear-gradient(
    to bottom,
    #020617,
    #121825,
    #1d2534,
    #283344,
    #334155
  ); */
}
.FilterTitle {
  color: white;
  font-size: 26px;
  padding: 10px;
  padding-left: 40px;
  font-weight: bold;
  border-right: 0.5px solid grey;
  margin-right: 280px;
}
