/* InfoPage.css */

.movieTitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.movieInfo {
  font-size: 1em;
  margin-bottom: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
  padding: 1em;
}
